<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>

	<!--알리아스 설정 -->
	<typeAliases>
		<typeAlias type="vo.User" alias="User" />
		<typeAlias type="vo.Day" alias="Day" />
		<typeAlias type="vo.Phone" alias="Phone" />
		<typeAlias type="vo.Management" alias="Management" />
	</typeAliases>

	<!--맵퍼 설정 -->
	<mappers>
		<mapper resource="mapper/user.xml" />
		<mapper resource="mapper/day.xml" />
		<mapper resource="mapper/phone.xml" />
		<mapper resource="mapper/management.xml" />
	</mappers>

</configuration>